.App {
  /* text-align: center; */
  overflow-x: hidden; 
  overflow-y: auto;
  min-height: 100vh;
  max-height: 100vh;
  margin: 0;
  position: relative;
  overflow: hidden;
  overscroll-behavior: none;

  background-image: url("assets/astronomy_dark_evening_galaxy_nature_night_night_sky_outdoors-1562859.jpg");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
